body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .home {
    display: grid;
    grid-template-areas: 
      "head head head"
      "nav main aside"
      "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr 200px;
    min-height: 100vh;
  }
  
  .head {
    grid-area: head;
    background-color: #14213d;
    color: #f0ebd8;
    padding: 20px;
    text-align: center;
  }
  
  .head h1 {
    margin: 0;
  }
  
  header nav {
    margin-top: 10px;
  }
  
  header nav p {
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
  }
  
  .nav {
    grid-area: nav;
    background-color: #3e5c76;
    padding: 20px;
  }
  
  .main {
    grid-area: main;
    padding: 20px;
  }
  
  .footer {
    grid-area: footer;
    padding: 20px;
    text-align: center;
  }
  img {
    vertical-align:middle;
  }
  a {
    grid-area: auto;
    color: #f0ebd8;
    padding: 20px;
    text-align: center;
    text-decoration:none;
  }