body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #7c7d7d, #ffffff); /* Modern gradient background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden; /* Prevent scrollbars */
  }

    .home {
      display: grid;
      grid-template-areas: 
        "head head head"
        "nav main aside"
        "footer footer footer";
      grid-template-rows: auto 1fr auto;
      grid-template-columns: 200px 1fr 200px;
      min-height: 100vh;
    }
    
    .head {
      grid-area: head;
      color: #313130;
      padding: 20px;
      text-align: center;
    }
    
    .head h1 {
      margin: 0;
    }
    
    header nav {
      margin-top: 10px;
    }
    
    header nav p {
      display: inline-block;
      margin: 0 15px;
      cursor: pointer;
    }
    
    .nav {
      grid-area: nav;
      padding: 20px;
    }
    
    .footer {
      grid-area: footer;
      padding: 20px;
      text-align: center;
    }
    img {
      vertical-align:middle;
    }
    a {
      grid-area: auto;
      color: #2a2a29;
      padding: 20px;
      text-align: center;
      text-decoration:none;
    }